.book-more {
  margin-bottom: 62px;
}

.book-more .information td {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #363636;
}

.td-main {
  padding-right: 146px;
}

.book-more .information .category {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-gray);
  padding-right: 70px;
  min-width: 120px;
}

tr td {
  padding: 8px;
  min-width: 155px;
}
