.navigation-list {
  max-width: 825px;
  height: 38px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 32px;
}

.navigation-list-left {
  margin-right: 217px;
}

.navigation-list-left,
.navigation-list-right {
  display: flex;
}

.button-style {
  border-radius: 599px;
  box-shadow: 0px 2px 4px rgba(191, 196, 201, 0.2), 0px 3px 4px rgba(191, 196, 201, 0.18),
    0px 1px 5px rgba(191, 196, 201, 0.24);
  background: #ffffff;
  border: 0px;
  height: 100%;
  color: var(--color-gray);
}

.search-input {
  width: 350px;
  padding: 10px;
  margin-right: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  min-width: 50%;
  flex-grow: 2;
  border: 0px;
  transition: all 0.2s ease-in-out;
}

.search:focus {
  outline: none;
  color: var(--color-orange);
}

.search::placeholder {
  color: var(--color-gray);
}

.input-search-icon {
  margin-right: 8px;
  width: 16px;
  height: 16px;
}

.search-active .input-search-icon path {
  fill: var(--color-orange);
}

.sort {
  display: flex;
  width: 150px;
  padding: 10px;
  padding-left: 15px;
}

.sort:hover {
  box-shadow: 0px 2px 5px rgba(54, 54, 54, 0.1);
}

.sort:active {
  box-shadow: 0px 3px 4px rgba(222, 125, 11, 0.2), 0px 1px 10px rgba(249, 89, 8, 0.2);
}

.sort-button {
  width: 38px;
  height: 38px;
  filter: drop-shadow(0px 2px 4px rgba(191, 196, 201, 0.2)) drop-shadow(0px 3px 4px rgba(191, 196, 201, 0.18))
    drop-shadow(0px 1px 5px rgba(191, 196, 201, 0.24));
  border-radius: 50%;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--color-gray);
}

.sort-button:hover {
  background: #ffffff;
  fill: var(--color-gray);
  filter: drop-shadow(0px 2px 5px rgba(54, 54, 54, 0.1));
}

.sort-button:active {
  filter: drop-shadow(0px 3px 4px rgba(222, 125, 11, 0.2)) drop-shadow(0px 1px 10px rgba(249, 89, 8, 0.2));
}

.sort-button:first-child {
  margin-right: 16px;
}

.sort-button img {
  width: 19px;
  height: 19px;
}

.sortButtonActive {
  background: linear-gradient(231.58deg, var(--color-orange) -53.35%, #f9d423 297.76%);
  fill: #ffffff;
}

.sortButtonActive img {
  color: #ffffff;
}

@media screen and (max-width: 960px) {
  .search-input {
    width: 274px;
  }
  .navigation-list-left {
    margin-right: 0px;
  }
}

@media screen and (max-width: 760px) {
  .search-input {
    width: 136px;
  }
  .sort {
    width: 45px;
  }
  .sort p {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .search-input {
    width: 32px;
    height: 32px;
  }
  .search {
    display: none;
  }
  .input-search-icon {
    margin-right: 0px;
  }
  .sort-button,
  .sort {
    width: 32px;
    height: 32px;
  }
  .search-active {
    width: 86vw !important;
    margin-right: 0px !important;
  }

  .sort {
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 390px) {
  .search-active {
    width: 81vw !important;
  }
}
