.book-list {
  max-width: 825px;
  width: 100%;
  display: flex;
  box-shadow: 0px 2px 4px rgba(191, 196, 201, 0.2), 0px 3px 4px rgba(191, 196, 201, 0.18),
    0px 1px 5px rgba(191, 196, 201, 0.24);
  border-radius: 12px;
  padding: 24px;
  margin-bottom: 16px;
  height: 218px;
}

.book-list-picture {
  width: 120px;
  height: 170px;
  margin-right: 16px;
}

.book-list-picture img {
  height: 100%;
  object-fit: cover;
}

.book-list-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  color: #363636;
  margin-bottom: 8px;
}

.book-list-author {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #727272;
}

.book-list-button {
  width: 174px;
  height: 40px;
}

.book-list-bottom {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}

.book-list-left-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 649px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .book-list-picture img {
    width: 120px;
    height: 172px;
  }
  .book-list-title {
    font-size: 24px;
    line-height: 30px;
  }
}

@media screen and (max-width: 580px) {
  .book-list-title {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 3px;
  }
  .book-list-author {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 5px;
  }
  .book-list-bottom {
    margin-top: 0px;
    flex-direction: column;
    height: 100%;
  }
  .book-list-button {
    width: 100%;
  }
  .book-list-picture {
    width: 70px;
    height: 100px;
  }
  .book-list-picture img {
    width: 70px;
    height: 100px;
  }
  .book-list {
    padding: 16px 8px 16px 8px;
  }
}
