.hide {
  display: none !important;
}

.book {
  width: 190px;
  height: 470px;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(191, 196, 201, 0.2), 0px 3px 4px rgba(191, 196, 201, 0.18),
    0px 1px 5px rgba(191, 196, 201, 0.24);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px;
  padding-bottom: 16px;
}

.book .book-picture {
  width: 174px;
}

.book .book-picture img {
  border: 1px solid #a7a7a7;
  border-radius: 10px;
  width: 100%;
  height: 242px;
  object-fit: cover;
}

.book-title {
  font-weight: 600;
  font-size: 14px;
  color: #363636;
  height: 36px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.book-author {
  font-weight: 400;
  font-size: 14px;
  color: #727272;
}

.book-button {
  width: 166px;
  height: 40px;
  border-radius: 20px;
  text-transform: uppercase;
  background: #f9f9fa;
  color: #a7a7a7;
  border: 1px solid #bfc4c9;
  font-weight: 600;
  font-size: 12px;
}

.available {
  background: linear-gradient(231.58deg, #f83600 -53.35%, #f9d423 297.76%);
  border: 1px solid transparent;
  color: #ffffff;
}

.available:hover {
  border: 1px solid #ff740f;
  box-shadow: 0px 2px 5px rgba(54, 54, 54, 0.1);
}

.available:active {
  border: 1px solid transparent;
  box-shadow: 0px 3px 4px rgba(222, 125, 11, 0.2), 0px 1px 10px rgba(249, 89, 8, 0.2);
}

@media screen and (max-width: 480px) {
  .book {
    width: 288px;
    /* width: 100%; */
    height: 470px;
    padding: 16px;
    padding-top: 8px;
  }
  .book-picture {
    width: 100%;
    height: 242px;
    display: flex;
    justify-content: center;
  }
  .book-picture img {
    width: 174px;
  }
  .book-author {
    font-size: 12px;
  }
  .book-button {
    width: 256px;
    height: 40px;
    width: 100%;
  }
}
