.header {
  display: flex;
  flex-direction: row;
  width: 1110px;
  height: 58px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
}

.header h1 {
  font-weight: 700;
  font-size: 32px;
  color: #363636;
}

.header-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-user div {
  width: 109px;
  font-size: 14px;
  font-weight: 600;
  color: #363636;
  margin-right: 16px;
}

.header-logo {
  margin-right: 120px;
  height: 40px;
}

.header h1 {
  margin-right: 435px;
  /* height: 40px;
  display: flex;
  align-items: center; */
}

.header-burger {
  display: none;
}

@media screen and (max-width: 1130px) {
  .header {
    max-width: 1110px;
    width: 100%;
    padding: 0 64px 0 64px;
    height: 96px;
  }
  .header h1 {
    margin-right: 0px;
  }
  .header-logo {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .header {
    justify-content: left;
    margin-top: 0px;
  }
  .header-user {
    display: none;
  }
  .header-burger {
    display: block;
    margin-right: 24px;
  }
}

@media screen and (max-width: 420px) {
  .header {
    max-width: 420px;
    width: 100%;
    padding: 0 16px 0 16px;
    height: 76px;
  }
  .header-burger {
    width: 24px;
    height: 24px;
  }
  .header h1 {
    font-size: 18px;
  }
}
