.book-reviews-header {
  display: flex;
  align-items: center;
}

.book-reviews-count {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--color-gray);
  margin-left: 6px;
}

.book-reviews-button {
  margin-left: 29px;
}

.bookReviewsButtonOpen {
  transform: rotate(-180deg);
}
