.menu-genre {
  margin-bottom: 16px;
}

.menu-genre-active .menu-genre .menu-genre-genre {
  color: var(--color-orange);
}

.menu-genre button:hover,
.menu-genre .menu-genre-genre:hover {
  cursor: pointer;
  color: #ff5253;
}

.menu-genre button {
  width: 100%;
}

.menu-genre .menu-genre-genre {
  font-size: 16px;
  color: #363636;
  text-align: left;
}

.menu-genre .menu-genre-amount {
  margin-left: 6px;
  font-size: 14px;
  color: var(--color-gray);
  display: inline-block;
}
