.footer-section {
  width: 1110px;
  margin: 0 auto;
  border-top: 1px solid #bfc4c9;
  padding-top: 16px;
  height: 56px;
  margin-top: 20px;
  .footer {
    display: flex;
    justify-content: space-between;
    .rights {
      font-weight: 400;
      font-size: 16px;
      color: #363636;
    }
    .footer-right {
      display: flex;
      a {
        margin-left: 28px;
      }
    }
  }
}

@media screen and (max-width: 1240px) {
  .footer-section {
    width: 80vw;
  }
}

@media screen and (max-width: 768px) {
  .footer-section {
    width: 640px;
    max-width: 95%;
  }
}

@media screen and (max-width: 700px) {
  .footer-section {
    height: 104px;
    .footer {
      flex-direction: column;
      .footer-left {
        display: flex;
        justify-content: center;
        .rights {
          text-align: center;
          margin-bottom: 19px;
        }
      }
      .footer-right {
        justify-content: space-between;
        width: 168px;
        margin-left: auto;
        margin-right: auto;
        a {
          margin-left: 0px;
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .rights {
    font-size: 15px;
    width: 209px;
  }
}

@media screen and (max-width: 350px) {
  .footer-section {
    width: 288px;
  }
}
